# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=DeWordle 
DB_PASSWORD=root 
DB_NAME=DeWordleDb 

# Authentication
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=24h
JWT_TOKEN_AUDIENCE=
JWT_TOKEN_ISSUER=
JWT_ACCESS_TOKEN_TTL= 
JWT_REFRESH_TOKEN_TTL=


# Admin JWT
JWT_ADMIN_SECRET=super-secret-admin-jwt-key
JWT_ADMIN_EXPIRATION=15m
JWT_ADMIN_REFRESH_SECRET=super-secret-admin-refresh-key
JWT_ADMIN_REFRESH_EXPIRATION=7d

# Application
PORT=3000
NODE_ENV=development

# Logging
LOG_LEVEL=debug
ENABLE_DETAILED_LOGGING=true

# contract config
CONTRACT_ADDRESS=
CONTRACT_ABI=
ADMIN_SIGNER=